<!doctype html>
<html lang="en">
    <head>
        <title>
            {% block maintitle %} {% endblock %} CSV Engine
        </title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="static/semantic/semantic.min.css">

        {% block headcss %} {% endblock %}
        <link rel="stylesheet" type="text/css" href="static/css/csvengine.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="static/semantic/semantic.min.js"></script>

        {% block headscripts %}  {% endblock %}

        <style>
            .ui.card .meta {
                font-size: 0.8em;
            }
            {% block headerstyle %}

            {% endblock %}
        </style>
        <script>
            {% block headscript %}

            {% endblock %}
        </script>
    </head>

    <body>

    <!-- HEADER -->
        <header id="header" class="ui vertical segment">
            <h1 class="ui header fifteen wide column">
                <div class="content">
                    CSV Engine
                    <div class="sub header">Tools and services for processing and enriching CSV files</div>
                </div>
                <img  class="ui small image" src="static/img/wu.png">
            </h1>
        </header>

    <!-- MAIN NAVIGATION -->
        <nav id="mainnav" class="ui  fluid secondary stackable pointing icon menu " >

        </nav>


    <!-- CONTENT -->

        <section class="ui text">
            {% block content %}
            {% endblock %}
        </section>

    <!-- FOOTER
        <footer class="ui background vertical footer segment">
            <div class="ui  container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui grey header">About</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Sitemap</a>
                            <a href="#" class="item">Contact Us</a>
                            <a href="#" class="item">Religious Ceremonies</a>
                            <a href="#" class="item">Gazebo Plans</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Services</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Banana Pre-Order</a>
                            <a href="#" class="item">DNA FAQ</a>
                            <a href="#" class="item">How To Access</a>
                            <a href="#" class="item">Favorite X-Men</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Footer Header</h4>
                        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                    </div>
                </div>
            </div>
        </footer>
 -->
    <!-- SCRIPTS -->
        <script>
            {% block script %} {% endblock %}
        </script>
    </body>
</html>